{% extends "base.html" %}

{% block title %}Doctors{% endblock title %}

{% block content %}
<section class='text-center bg-secondary'>
    <h2>Meet Our Doctors</h2>
    <p>We have a team of highly qualified and experienced doctors dedicated to providing the best healthcare services.</p>
    
    <div class='container text-center'>
        {% for d in doctors %}
        <div class="card text-center" style="width: 18rem; display: inline;">
            <img src="{{d.doct_image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{d.doct_name}}</h5>
              <p class="card-text">{{d.doct_spec}}</p>
              <h6>{{d.dep_name}}</h6>
            </div>
        </div>

        {% endfor %}
    </div>
</section>
{% endblock content %}